boto3>=1.26.0
celery>=5.3.0
captcha
Django==4.2
django-apptemplates
django-contrib-comments
django-js-reverse
django-queryset-csv
django-recaptcha
django-redis
django-registration-redux
django-storages
django-threadedcomments
django-tinsel
django-webpack-loader
flake8
gunicorn
hiredis
jsonschema
libsass
modgrammar>=0.9.1
Pillow
psycopg[binary]>=3.2.0
psycopg2-binary>=2.9.0
python-dateutil
python-omgeo
pytz
redis
requests
rollbar
unicodecsv
urllib3
django-scheduler-otm
django-bower
django-tagging
django-icons
