{% extends "instance_base.html" %}
{% load i18n %}
{% load l10n %}
{% load image %}
{% load util %}
{% load staticfiles%}

{% block page_title %} | {% trans "Edits" %} {{plot.pk|unlocalize}}{% endblock %}

{% block activeexplore %}
{% endblock %}

{% block activerecentedits %}
active
{% endblock %}

{% block subhead %}
{% endblock subhead %}

{% block header %}
{% load i18n %}
<div class="header">
  {% block logo %}
  {{ block.super }}
  {% endblock logo %}
</div> <!-- end header -->
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type='text/javascript' src="{% static 'js/vendor/jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/jquery-ui/jquery-ui.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/moment/moment.js' %}"></script>
<script type='text/javascript' src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script type='text/javascript' src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
{% endblock header %}

{% block content %}
<script type='text/javascript'>
$(document).ready(function () {
	let selectedStartDate;
	let selectedEndDate;
	let selectedAction;
	$('#date-start').datepicker({
	    dateFormat: 'yy-mm-dd',
	    container: 'body'
	});
	$('#date-end').datepicker({
	    dateFormat: 'yy-mm-dd'
	});
	$("#date-start").on("change", function () {
	    selectedStartDate = $(this).val();
            console.log(selectedStartDate)
	});
	$("#date-end").on("change", function () {
	    selectedEndDate = $(this).val();
            console.log(selectedEndDate)
	});
        $( "#action" ).selectmenu({
       change: function( event, data ) {
         console.log(data.item.value );
       }
     });
});
</script>
<div class="image-background"></div>
<div class="container contained profile">
  <div class="row">
    <div class="col-md-12">
      <h1>
        {% trans "Edits" %}
        <a class="btn pull-right" href="{% url 'edits' instance_url_name=request.instance.url_name %}">{% trans "Reset" %}</a>
      </h1>
      <div class="alert alert-info">
          <p style="margin:0;">All edits made in the tree map are listed below, beginning with the most recent. Click a link in the Type, Object ID, or Edited By columns to sort all the edits by that entry. To go to the detail page for a tree or planting site, click the Detail button located in the far left column. Click the Reset button to view all edits.</p>
      </div>
            
      <div style="width:30rem">
      <fieldset style="display:flex">
            <p>Start Date: <input type="text" style="position: relative; z-index: 100000;" id="date-start" autocomplete="off"></p>
            <p id="date-end-label">End Date: <input style="position: relative; z-index: 100000;" type="text" id="date-end" autocomplete="off"></p>
      </fieldset>
      <fieldset>
	    <p>Action
	    <select name="action" id="action">
	      <option selected>All</option>
	      <option>Air-spaded</option>
	      <option>Cabling</option>
	      <option>Cleared of Trash or Debris</option>
	      <option>Crown Damage</option>
	      <option>Death</option>
	      <option>Failure</option>
	      <option>Fertilized</option>
	      <option>Growth Regulator</option>
	      <option>Hanger Overhead</option>
	      <option>Lightning Protection</option>
	      <option>Mulched, Had Composted Added, or Soil Amended</option>
	      <option>Pest Damage</option>
	      <option>Pest Scouting</option>
	      <option>Pest Treatment</option>
	      <option>Pruned</option>
	      <option>Risk Assessment</option>
	      <option>Root Pruned</option>
	      <option>Roots Trenched</option>
	      <option>Soil Compaction</option>
	      <option>Storm Damaged</option>
	      <option>Trunk Damaged</option>
	      <option>Watered</option>
	      <option>Construction Damage</option>
	    </select>
	    </p>
      </fieldset>
      </div>
      <table class="table table-striped">
        <tr>
          <th>{% trans "Details" %}</th>
          <th>{% trans "Edit #" %}</th>
          <th>{% trans "Type" %}</th>
          <th>{% trans "Object ID" %}</th>
          <th>{% trans "Field" %}</th>
          <th>{% trans "Old Value" %}</th>
          <th>{% trans "Current Value" %}</th>
          <th>{% trans "Edited By" %}</th>
          <th>{% trans "Edited On" %}</th>
        </tr>
        {% for audit in audits %}
        <tr>
          {% localize off %}
          <td>
            {% with link=audit|audit_detail_link %}
            {% if link %}
            <a href="{{ link }}">{% trans "Detail" %}</a>
            {% endif %}
            {% endwith %}
          </td>
          <td>{{ audit.pk }}</td>
          <td>
            {% if audit.model|is_filterable_audit_model %}
            <a href="?models={{ audit.model }}">
              {{ audit|display_name }}
            </a>
            {% else %}
            {{ audit|display_name }}
            {% endif %}
          </td>
          <td>
            {% if audit.model|is_filterable_audit_model %}
            <a href="?models={{ audit.model }}&model_id={{ audit.model_id }}">
              {{ audit.model_id }}
            </a>
            {% else %}
            {{ audit.model_id }}
            {% endif %}
          </td>
          {% endlocalize %}
          <td>{{ audit.field_display_name }}</td>

          {% if audit.field == 'image' %}

          <td>
            {% if audit.clean_previous_value %}
            <a href="{{ audit.clean_previous_value|image_to_url }}">
              {% trans "View Image" %}
            </a>
            {% endif %}
          </td>
          <td>
            {% if audit.clean_current_value %}
            <a href="{{ audit.clean_current_value|image_to_url }}">
              {% trans "View Image" %}
            </a>
            {% endif %}
          </td>

          {% elif audit.field == 'user' %}

          <td>
            {% if audit.clean_previous_value %}
            <a href="?user={{ audit.clean_previous_value.pk|unlocalize }}">
              {{ audit.clean_previous_value }}
            </a>
            {% endif %}
          </td>
          <td>
            <a href="?user={{ audit.clean_current_value.pk|unlocalize }}">
              {{ audit.clean_current_value }}
            </a>
          </td>

          {% elif audit.field == 'plot' %}

          <td>
            {% if audit.clean_previous_value %}
            <a href="?models=Plot&model_id={{ audit.clean_previous_value.pk|unlocalize }}">
              Plot {{ audit.clean_previous_value }}
            </a>
            {% endif %}
          </td>
          <td>
            <a href="?models=Plot&model_id={{ audit.clean_current_value.pk|unlocalize }}">
              Plot {{ audit.clean_current_value|default_if_none:"" }}
            </a>
          </td>

          {% elif audit.field == 'id' %}
          <td>{{ audit.previous_display_value|default_if_none:""|unlocalize }}</td>
          <td>{{ audit.current_display_value|default_if_none:""|unlocalize }}</td>
          {% else %}
          <td>{{ audit.previous_display_value|default_if_none:"" }}</td>
          <td>{{ audit.current_display_value|default_if_none:"" }}</td>
          {% endif %}

          <td>
            <a href="?user={{ audit.user.pk|unlocalize }}">
              {{ audit.user }}
            </a>
          </td>
          <td>
            {{ audit.created }}
          </td>
        </tr>
        {% endfor %}
      </table>

      <ul class="pager">
        {% if prev_page %}
        <li class="previous">
          <a href="{{ prev_page }}">
        {% else %}
        <li class="previous disabled">
          <a>
        {% endif %}
          &larr; {% trans "Previous" %}</a>
        </li>

        {% if next_page %}
        <li class="next">
          <a href="{{ next_page }}">
        {% else %}
        <li class="next disabled">
          <a>
        {% endif %}
          {% trans "Next" %} &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
