{% load i18n %}
{% load tagging_tags %}

<div id="edit-tags-panel" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans "Edit Tags" %}</h3>
      </div>
      <div class="modal-body">
        <p>
            {% trans "Current Tags:" %}
        </p>
        {% tags_for_object tree as tag_list %}
        {% for tag in tag_list %}
        <p>{{tag}} <i class="icon-trash"></i></p>
        {% endfor %}
        <div>
          <p>Add new tag:</p>
          <div style="display: inline-flex;flex-direction: row;align-items: center;"><input class="pull-left" type="text" id="add-tag-input">  <i class="icon-plus pull-right"></i></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
      </div>
    </div>
  </div>
</div>
