{% load i18n %}
{% load tagging_tags %}

<div id="edit-tags-panel" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans "Edit Tags" %}</h3>
      </div>
      <div id="tag-modal-content" class="modal-body">
        <div>
          <p>{% trans "Add a new tag:" %}</p>
          <div style="display: inline-flex;flex-direction: row;align-items: center;"><input class="pull-left" type="text" id="add-tag-input">  <button><i id="add-tag-button" class="icon-plus pull-right"></i></button></div>
        </div>
        <p style="padding-top: 1rem">
            {% trans "Current Tags:" %}
        </p>
        <div id="tagListDiv">
          {% tags_for_object tree as tag_list %}
          {% for tag in tag_list %}
          <p id="{{tag}}-list-item">{{tag}} <button id="delete-button-{{tag}}"><i class="icon-trash"></i></button></p>
          {% endfor %}
          {% if not tag_list %}
            <p class="text-muted"><em>{% trans "No tags exist for tree" %}</em></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
