{% load humanize %}
{% load i18n %}
{% load util %}
{% load tagging_tags %}

<div class="well">
  {% if latest_update %}
  <h4>{% trans "Latest Update" %}</h4>
  <p>
    {{ latest_update.user.username }}
    {{ latest_update.short_descr }}
    on {{ latest_update.created|date:request.instance.date_format }}
  </p>
  {% endif %}

  <div class="progress">
    <div class="progress-bar" style="width: {{ progress_percent }}%;"></div>
  </div>
  <h5>{{ progress_percent }}% {% trans "Complete" %}</h5>
  <ul>
    {% for message in progress_messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>

{% if recent_activity and request.user.is_authenticated %}
<div class="well">
  <h3>{% trans "Recent Edits" %}</h3>
  {% for user, created, audits in recent_activity %}
  <h5>{{ user.username }}</h5>
  <p class="text-muted">{{ created|date:request.instance.date_format }} ({{ created|naturaltime }})</p>
  <ul>
    {% for audit in audits %}
      <li>{{ audit.short_descr }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endif %}

{% if request.user.is_authenticated %}
<div class="well">
  <div>
    <h3 class="pull-left">{% trans "Tags" %}</h3>
  </div>
  <div id="tags-container">
      {% if has_tree %}
      <button data-toggle="modal"
      data-target="#edit-tags-panel"
      data-href="{{ request.get_full_path }}"
      class="btn btn-sm pull-right">
      <i class="icon-pencil"></i>
      {% trans "Edit Tags" %}
    </button>
        <div id="tagListSidebarDiv">
          {% tags_for_object tree as tag_list %}
          {% for tag in tag_list %}
          <p>{{tag}}</p>
          {% endfor %}
        </div>
          {% if not tag_list %}
            <p class="text-muted"><em>{% trans "No tags exist for tree" %}</em></p>
          {% endif %}
      {% else %}
          {% trans "Tags are not available on empty planting sites." %}
      {% endif %}
  </div>
</div>

<div class="well">
  <div>
    <h3 class="pull-left">{% trans "Related Trees" %}</h3>
  </div>
  <div id="related-trees-container">
      {% if has_tree %}
        <div id="relatedTreeList">
          {% related_tags_for_object tree as related_tree_list %}
          {% for tree in related_tree_list.related_trees %}
          <p><a href='../{{tree.id}}'>{{tree.dict.short_species}}, {{tree.plot.owner_orig_id}}</a></p>
          {% endfor %}
        </div>
          {% if not related_tree_list.related_trees %}
            <p class="text-muted"><em>{% trans "No related trees found" %}</em></p>
          {% endif %}
      {% else %}
          {% trans "Related Trees is not available on empty planting sites." %}
      {% endif %}
  </div>
</div>
{% endif %}

{% if feature.is_plot %}
<div class="well">
  <h3>{% trans "Nearby Trees" %}</h3>
  {% with nearby=plot.nearby_plots %}
  {% if nearby %}
  </ul>
  {% for plot in nearby %}
  <li><a href="{% url 'map_feature_detail' instance_url_name=request.instance.url_name feature_id=plot.pk %}">{{ plot.pk }}</a></li>
  {% endfor %}
  </ul>
  {% else %}
  <p class="text-muted"><em>{% trans "There are no trees nearby" %}</em></p>
  {% endif %}
</div>
{% endwith %}
{% endif %}
